<div>
    <table>
        <thead>
            <th>Name</th>
            <th>Total Time in Month</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let employee of employees">
                <tr [ngClass]="{'background': employee.HoursWorked < 100}">
                    <td>{{ employee.Name }}</td>
                    <td>{{ employee.HoursWorked }}</td>
                    <td><a href="">Edit</a></td>
                </tr>
            </ng-container> 
        </tbody>
    </table>
</div>